kaldi/kaldi
voxo-fast/voxo-fast
voxo-dashboard/voxo-dashboard
voxo-lib/
voxo-daemon/voxo-daemon
*.docker
voxo-daemon/majAuto/
voxo-daemon/output/
kaldi-gst/kaldi/
voxo-align-daemon/voxo-daemon/
Kaldi-5039*
